{% extends "base.html" %}

{% block title %}Create Penugasan{% endblock title %}
{% block form_title1 %}FORM BUAT{% endblock form_title1 %}
{% block form_title2 %}PENUGASAN{% endblock form_title2 %}

{% block form %}
    <div class="form-group">
        <input name="nama_petugas" type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Nama Petugas" required="true">
    </div>
    <div class="form-group">
        <input name="tanggal_mulai" type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Tanggal Mulai (YYYY-MM-DD HH:mm:ss)">
    </div>
    <div class="form-group">
        <input name="tanggal_selesai" type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Tanggal Selesai (YYYY-MM-DD HH:mm:ss)">
    </div>
    <div class="form-group">
            <select class="custom-select centered" required>
                <option selected>Pilih stasiun</option>
                <option value="1">Stasiun A</option>
                <option value="2">Stasiun B</option>
                <option value="3">Stasiun C</option>
            </select>
    </div>
{% endblock form %}

{% block buttons %}
    <div class="control-buttons text-center">
        <a class="btn btn-primary centered" href="{% url 'list_pages:index' %}" role="button" style="background-color: var(--green) !important; border: none;">Add</a>
    </div>
{% endblock buttons %}
