{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Penugasan</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
      <div id="header-bar">
        {% block header %}
        <p id="page-title" class="font-weight-bold">Penugasan</p>
        {% endblock header %}
      </div>
      
      <div class="table-list">
        {% block tabel %}
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Nama Petugas</th>
              <th scope="col">Tanggal Mulai/th>
              <th scope="col">Tanggal Selesai</th>
              <th scope="col">Stasiun</th>
              <th scope="col">Opsi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        {% endblock tabel %}
      </div>
    </div>
    
</body>