{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container centered" style="width: 35%;">
        <div class="formTitle centered" style="width: 100%;">
            <h1 class="green-text">{% block form_title1 %}{% endblock form_title1 %}</h1>
            <h1 class="green-text">{% block form_title2 %}{% endblock form_title2 %}</h1>
        </div>
        
        <div class="formContainer" >
            <form name="data">
                {% block form %}{% endblock form %}

                {% block buttons %}{% endblock buttons %}
            </form>
        </div> 
    </div>
</body>
</html>
{% block script %}{% endblock script %}
