{% extends "base.html" %}

{% block title %}Register{% endblock title %}
{% block form_title1 %}FORM BUAT DAFTAR{% endblock form_title1 %}
{% block form_title2 %}SEPEDA{% endblock form_title2 %}

{% block form %}
    <div class="form-group">
        <div class="green-text">
            Sepeda - Stasiun :
        </div>
        <select class="custom-select" required>
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
{% endblock form %}

{% block buttons %}
    <div class="control-buttons">
        <a class="btn btn-primary centered" href="list" role="button" style="background-color: #E16767 !important; border: none;">Cancel</a>
        <a id="submit" onclick="getValue()" type="submit" class="btn btn-primary centered" href="#" role="button" style="background-color: var(--green) !important; border: none;">Submit</a>
    </div>
    <div>
        <p id="test-output"></p>
    </div>
{% endblock buttons %}

