{% extends "base_list.html" %}

{% block title %}List Voucher{% endblock title %}
{% block header %}
        <p id="page-title" class="font-weight-bold">Vouchers</p>
        <p id="page-detail">tukarkan poinmu dengan voucher asik!</p>
{% endblock header %}

{% block tabel %}
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nama</th>
              <th scope="col">Poin</th>
              <th scope="col">Deskripsi</th>
              <th scope="col">Opsi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Voucher Belanja di Tokopodium</td>
              <td>300</td>
              <td>Gratis belanja di tokopodium.com maksimal 50.000</td>
              <td style="width:50%;">
                <div class="control-buttons">
                  <a id="update" type="submit" class="btn btn-primary centered" href="/voucher/update" role="button" style="background-color: var(--green) !important; border: none;">Update</a>
                  <a id="delete" class="btn btn-primary centered" href="#" role="button" style="background-color: #E16767 !important; border: none;">Delete</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
{% endblock tabel %}
