@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

:root {
    --green: #90B284; 
}

body, html {
    font-family: 'Raleway', sans-serif;
}

.green-text {
    color: var(--green);
}

.form-control {
    margin: 1%;
    border-radius: 20px;
    border-color: var(--green);
    border-width: 2px;
}

.form-control:focus {
    border: 2px solid var(--green);
    box-shadow: 0 0 0 0.3rem rgba(157, 187, 152, 0.25);
}

.form-group textarea {
    margin-top: 1%;
    resize: none;
}
.formTitle {
    padding: 2%;
}

.formTitle h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    margin: 1%;
}

.control-buttons {
    width: 70%;
    margin-left: 20%;
    margin-top: 10%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border-radius: 15px;
    margin:2%;
    width: 40%;
}

.container {
    margin-top: 5%;
}
