.jumbotron {
	background-color: #92D6FA;
	background-size: cover;
	margin-bottom: 0px;
	height: 800px;
	color: #FFFFFF;
	margin-top: 0px;
}

.home-text {
	font-family: Yanone Kaffeesatz;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	font-size: 144px;
	padding-top: 100px;
}
.navbar .container-fluid{
    background-color: #5aa1a7;
    border: 0px;
}

.navbar .collapse .nav a{
    color: #dcda9f;
    border: 0px;
}

.navbar .container-fluid .navbar-header .navbar-brand{
   	color: #dcda9f;
 }