@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap');

:root {
    --green: #90B284; 
}

body, html {
    font-family: 'Raleway', sans-serif;
}

#header-bar {
    width: 100%;
    height: 100%;
}

#page-title{
    margin: 5%;
    margin-left: 0%;
    float: left;
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    -webkit-text-stroke: 2px var(--green);
    
}


#page-detail{
    width: 50%;
    margin-top: 8.5%;
    font-size: 18px;
    color: grey;
    float: left;
}

#cards {
    margin: auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border-radius: 15px;
    margin:2%;
    width: 40%;
}
