@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap');

:root {
    --green: #90B284; 
}

body, html {
    font-family: 'Raleway', sans-serif;
}

#header-bar {
    width: 100%;
    height: 100%;
}

#page-title{
    margin: 5%;
    margin-left: 0%;
    float: left;
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    -webkit-text-stroke: 2px var(--green);
}


#page-detail{
    float: left;
}

#cards {
    margin: auto;
}