{% extends "base.html" %}

{% block title %}Create Peminjaman{% endblock title %}
{% block form_title1 %}FORM BUAT{% endblock form_title1 %}
{% block form_title2 %}PEMINJAMAN{% endblock form_title2 %}

{% block form %}
    <div id="form-peminjaman" class="form-group centered" style="width:100%;">
        <div class="green-text centered">
            <h4>Sepeda - Stasiun :</h4>
        </div>
        <select class="custom-select centered" required>
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
{% endblock form %}

{% block buttons %}
    <div class="control-buttons">
        <a class="btn btn-primary centered" href="list" role="button" style="background-color: #E16767 !important; border: none;">Cancel</a>
        <a id="submit" onclick="getValue()" type="submit" class="btn btn-primary centered" href="#" role="button" style="background-color: var(--green) !important; border: none;">Submit</a>
    </div>
    <div>
        <p id="test-output"></p>
    </div>
{% endblock buttons %}

{% block script %}
<script>

function getValue(){
    var name = document.getElementById('voucherName').value;
    var category = document.getElementById('voucherCategory').value;
    var price = document.getElementById('voucherPrice').value;
    var amount = document.getElementById('voucherAmount').value;
    var desc = document.getElementById('voucherDesc').value;
    document.getElementById('test-output').innerHTML = name+"<br>"+category+"<br>"+price+"<br>"+amount+"<br>"+desc;
}
</script>
{% endblock script %}