{% load static %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	    </button>
      <a class="navbar-brand" href="/">GOWES</a>
    </div>

    
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login/">Login</a></li>
      <li><a href="/register/">Daftar</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>
