{% extends "base.html" %}

{% block title %}Create Voucher{% endblock title %}
{% block form_title1 %}FORM PENAMBAHAN{% endblock form_title1 %}
{% block form_title2 %}VOUCHER{% endblock form_title2 %}

{% block form %}
    <div class="form-group">
        <input name="nama" id="voucherName" type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Nama" required>
    </div>
    <div class="form-group">
        <input name="kategori" id="voucherCategory"type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Kategori" required>
    </div>
    <div class="form-group">
        <input name="nilai_poin" id="voucherPrice" type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Nilai poin" required>
    </div>
    <div class="form-group">
        <input name="jumlah" id="voucherAmount" type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Jumlah" required>
    </div>
    <div class="form-group">
        <textarea name="deskripsi" id="voucherDesc" class="form-control green-text" id="exampleFormControlTextarea1" rows="5" placeholder="Deskripsi" required></textarea>
    </div>
{% endblock form %}

{% block buttons %}
    <div class="control-buttons">
        <a class="btn btn-primary centered" href="list" role="button" style="background-color: #E16767 !important; border: none;">Cancel</a>
        <button id="submit" type="submit" class="btn btn-primary centered" role="button" data-toggle="modal" data-target="#exampleModal" style="background-color: var(--green) !important; border: none;">Submit</button>
    </div>
{% endblock buttons %}

{% block etc %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Lanjut buat voucher?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <a id="submit" type="submit" class="btn btn-primary centered" href="/voucher/submit_voucher/" role="button"style="background-color: var(--green) !important; border: none;">Submit</a>
            </div>
          </div>
        </div>
      </div>
{% endblock etc %}
{% block script %}
<script>


</script>
{% endblock script %}