{% extends "base.html" %}

{% block title %}Update Voucher{% endblock title %}
{% block form_title1 %}FORM UPDATE{% endblock form_title1 %}
{% block form_title2 %}VOUCHER{% endblock form_title2 %}

{% block form %}
    <div class="form-group">
        <input type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Nama" required="true">
    </div>
    <div class="form-group">
        <input type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Kategori">
    </div>
    <div class="form-group">
        <input type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Nilai poin">
    </div>
    <div class="form-group">
        <textarea class="form-control green-text" id="exampleFormControlTextarea1" rows="5" placeholder="Deskripsi"></textarea>
    </div>
{% endblock form %}

{% block buttons %}
    <div class="control-buttons">
        <a class="btn btn-primary centered" href="list" role="button" style="background-color: #E16767 !important; border: none;">Cancel</a>
        <a class="btn btn-primary centered" href="{% url 'list_pages:index' %}" role="button" style="background-color: var(--green) !important; border: none;">Update</a>
    </div>
{% endblock buttons %}
