{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Up</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container centered" style="width: 35%;">
        <div class="formTitle centered" style="width: 100%;">
            <div class="formContainer" >
                <form name="data" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="nominal">Nominal</label>
                        <input name="nominal" type="text" class="form-control col-lg-6 green-text" id="formGroupExampleInput" placeholder="Nominal" required>
                    </div>
                    
                    <div>
                        <button type="submit" class="btn btn-success centered" value="Submit">Top Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>